@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');

$header_font: 'Montserrat', sans-serif;
$body_font: 'Oswald', sans-serif;

h1,
h2,
h3,
h4,
h5 {
  font-family: $header_font;
}

p,
span,
li,
a {
  font-family: $body_font;
}